/* General Settings
============================================================================ */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: sans-serif;
  color: #202020;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

/* Variables
============================================================================ */

$color-primary: #fd42bb;

/* Mixins
============================================================================ */

@mixin va($va-align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @if $va-align != center {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  } @else {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* App Setting
============================================================================ */

main {
  height: 100vh;
  @include va();
}
h1 {
  font-size: 42px;
  @include no-select();
}
